.DS_Store
.idea
.mypy_cache
.pytest_cache
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*.log
*-cloudbuild-sa-key.json
devtools/gcp-storage-emulator/data/*
!devtools/gcp-storage-emulator/data/.placeholder
devtools/firebase-emulator/*.log
env/*
.vscode
*.pyc
.coverage
local.env
