[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2023.7.22"
fastapi = "==0.100.0"
google-cloud-firestore = "==2.11.1"
google-cloud-pubsub = "==2.18.0"
google-cloud-storage = "==2.10.0"
pydantic-settings = "==2.0.1"

[dev-packages]
black = "==23.7.0"
flake8 = "==6.0.0"
gcp-storage-emulator = "==2022.6.11"
httpx = "==0.24.1"
isort = "==5.12.0"
mock-firestore = "==0.11.0"
mypy = "==1.4.1"
pip-audit = "==2.6.0"
pyaml = "==23.7.0"
pylint = "==2.17.4"
pytest = "==7.4.0"
pytest-mock = "==3.11.1"
uvicorn = "==0.22.0"

[requires]
python_version = "3.11"
